@page
@model BlogPlatform.Pages.Blogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Blog Post Details</h3>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4 text-end fw-bold">
                            @Html.DisplayNameFor(model => model.BlogPost.Title)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.BlogPost.Title)
                        </dd>
                        <dt class="col-sm-4 text-end fw-bold">
                            @Html.DisplayNameFor(model => model.BlogPost.Content)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.BlogPost.Content)
                        </dd>
                        <dt class="col-sm-4 text-end fw-bold">
                            @Html.DisplayNameFor(model => model.BlogPost.CreatedAt)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.BlogPost.CreatedAt)
                        </dd>
                        <dt class="col-sm-4 text-end fw-bold">
                            @Html.DisplayNameFor(model => model.BlogPost.UserId)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.BlogPost.UserId)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-page="./Edit" asp-route-id="@Model.BlogPost.Id" class="btn btn-warning mx-2">Edit</a>
                    <a asp-page="./Index" class="btn btn-secondary mx-2">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
